<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 *ngIf="!editForm.get('id')!.value" id="jhi-lending-heading">Create a Lending</h2>
            <h2 *ngIf="editForm.get('id')!.value" id="jhi-lending-heading">Edit a Lending</h2>
            <div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lendDate"><b>Lend Date</b></label>
                    <div>{{currentLending.lendDate | date:'dd/MM/yyyy'}}</div>
                </div>

                <div *ngIf="currentLending.id != null" class="form-group">
                    <label class="form-control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
    
                <div  class="form-group">
                    <label class="form-control-label" for="field_book"><b>Book</b></label>
                    <select *ngIf="currentLending.id === null" class="form-control" id="field_book" name="book" formControlName="bookId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookOption.id" *ngFor="let bookOption of books; trackBy: trackById">{{ bookOption.title }}</option>
                    </select>
                    <div *ngIf="currentLending.id != null">{{currentLending.bookTitle}}</div>
                </div>
                <div   class="form-group">
                    <label class="form-control-label" for="field_user"><b>User</b></label>
                    <select *ngIf="currentLending.id == null" class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{ userOption.firstName }}</option>
                    </select>
                    <div *ngIf="currentLending.id != null">{{currentLending.userName}}</div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    &nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    &nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
