<div>
    <h2 id="page-heading">
        <span>Books</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book" [routerLink]="['/book/new']">
            <span>
            Create a new Book
            </span>
        </button>
    </h2>
    <div class="alert alert-warning" id="no-result" *ngIf="books?.length === 0">
        <span>No books found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="books?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"  ><span>ID</span> </th>
                    <th scope="col"  ><span>Title</span> </th>
                    <th scope="col"  ><span>Description</span> </th>
                    <th scope="col"  ><span>Author</span> </th>
                    <th scope="col"  ><span>Year Of Publication</span> </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books ;trackBy: trackId">
                    <td><a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.yearOfPublication }}</td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/book', book.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(book)"
                                    class="btn btn-danger btn-sm">
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="books?.length > 0">

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
